body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#MediaPlayer2
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#MediaPlayer1
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_MediaPlayer2
{
   position: absolute;
   left: 93px;
   top: 22px;
   width: 380px;
   height: 238px;
   z-index: 1;
}
#wb_MediaPlayer1
{
   position: absolute;
   left: 482px;
   top: 22px;
   width: 380px;
   height: 238px;
   z-index: 2;
}
@media only screen and (min-width: 800px) and (max-width: 969px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#BuildWith1
{
   left: 441px;
   top: 967px;
   width: 88px;
   height: 31px;
   visibility: visible;
   display: inline;
}
#wb_MediaPlayer2
{
   left: 15px;
   top: 21px;
   width: 380px;
   height: 238px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_MediaPlayer1
{
   left: 404px;
   top: 21px;
   width: 380px;
   height: 238px;
   visibility: visible;
   display: inline;
   margin: 0;
}
}
@media only screen and (min-width: 480px) and (max-width: 799px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#BuildWith1
{
   left: 441px;
   top: 967px;
   width: 88px;
   height: 31px;
   visibility: visible;
   display: inline;
}
#wb_MediaPlayer2
{
   left: 50px;
   top: 20px;
   width: 380px;
   height: 238px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_MediaPlayer1
{
   left: 50px;
   top: 293px;
   width: 380px;
   height: 238px;
   visibility: visible;
   display: inline;
   margin: 0;
}
}
@media only screen and (min-width: 400px) and (max-width: 479px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#BuildWith1
{
   left: 441px;
   top: 967px;
   width: 88px;
   height: 31px;
   visibility: visible;
   display: inline;
}
#wb_MediaPlayer2
{
   left: 20px;
   top: 22px;
   width: 362px;
   height: 220px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_MediaPlayer1
{
   left: 20px;
   top: 258px;
   width: 362px;
   height: 220px;
   visibility: visible;
   display: inline;
   margin: 0;
}
}
@media only screen and (max-width: 399px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#BuildWith1
{
   left: 441px;
   top: 967px;
   width: 88px;
   height: 31px;
   visibility: visible;
   display: inline;
}
#wb_MediaPlayer2
{
   left: 13px;
   top: 22px;
   width: 295px;
   height: 153px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_MediaPlayer1
{
   left: 13px;
   top: 203px;
   width: 297px;
   height: 155px;
   visibility: visible;
   display: inline;
   margin: 0;
}
}
